@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

a:hover {
	text-decoration: none;
}
:root {
	--noto-sans: 'Noto Sans KR', sans-serif;
}

* {
	font-family: var(--noto-sans);
}

#root {
	min-height: 100vh;
}

