.section {
	margin-bottom: 1.5rem;
}
.secTitle {
	font-size: 22px;
	margin-bottom: 5px;
	font-weight: bold;
}
.secText {
	font-size: 16px;
	margin-bottom: 2px;
	color: rgb(95, 95, 95);
}

.secText a {
	color: rgb(3, 38, 196);
	font-weight: bold;
}

.customHr {
	background-color: rgb(133, 133, 133);
	margin-bottom: 1.5rem;
}