.basket {
  /* background-color: red; */
  padding-bottom: 80px;
}

.basketInfo {
  display: flex;

  flex-direction: column;
  font-size: 22px;
  text-align: center;
}
.fullPrice {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 30px;
  display: block;
  margin-bottom: 25px;
}
.itemContainer {
  display: flex;
  flex-direction: column;
}
.item {
  display: grid;
  grid-template-columns: minmax(80px, 150px) minmax(100px, 1fr) 50px;
  align-items: center;
  grid-gap: 15px 15px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 25px;
  transition: all 0.3s;
  background-color: #0a0180;
 box-shadow: 0px 0px 15px 4px rgba(34, 60, 80, 0.1);
	position: relative;
}
.item:hover {
  transform: scale(1.03);
}

.img {
 overflow: hidden;
 height: 100%;
}
.img img {
  width: 100%;
  height: 100%;
  max-height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 10px 0 0 10px;
}
.itemData {
  /* padding-left: 20px; */
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "name name"
    "input price";
  gap: 15px 15px;
}

.itemData p {
  margin-bottom: 8px;
  color: rgb(226, 224, 224);
  font-size: 20px;
  grid-area: name;
}

.itemData h4 {
  margin-bottom: 0;
  color: rgb(226, 224, 224);
  font-weight: 700;
  grid-area: price;
  line-height: 38px;
}
.remove {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.removeBtn {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.removeBtn svg {
  width: 35px;
  height: 35px;
}

.removeBtn svg path {
  stroke: rgb(226, 224, 224);
}
.quantityWrapper {
  grid-area: input;
}

.changeCountBtn {
  background-color: rgb(0, 0, 207);
  font-size: 18px;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
  border: none;
  padding: 0;
  width: 40px;
  height: 40px;
  border: 1px solid transparent;
}
.changeCountBtn svg path{
  fill: #fff;
}

.input {
  width: 60px;
  font-size: 25px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  margin-left: 5px; 
  margin-right: 5px;
  border-radius: 5px;
}
@media (max-width: 991px) {
.itemData {
  grid-template-columns: 150px 1fr;
  grid-template-areas:
    "name name"
    "input input"
		"price price";
  gap: 15px 0;
}
}
@media (max-width: 475px) {
  .item {
    grid-template-columns: 1fr;
    grid-template-rows: 150px minmax(100px, auto);
		grid-auto-flow: row;
		margin-top: 35px;
		padding: 0;
		overflow: hidden;
  }
  /* .img {

  } */
	.img img {
		border-radius: 10px 10px 0 0;
    width: 100%;object-fit: cover;
	}
.itemData {
	padding-top: 25px;
	padding-bottom: 10px;
	grid-template-columns: 1fr;
  grid-template-areas:
    "name"
    "input"
		"price";
	text-align: center;
}
.remove {
	position: absolute;
	right: 15px;
	top: 15px;
	width: 50px;height: 50px;
}

}