.reset {
	/* position: absolute; */
	right: 10px;
	transition: all 0.7s;
	cursor: pointer;
	margin: auto 0 auto auto;
}
.reset:hover {
	transform: rotate(360deg);
}

.wrapper {
	/* position: relative; */
}