.form {
	max-width: 500px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.title {
	text-align: center;
	font-size: 25px;
}
	/* .inputGroup {
	
		width: 100%;
	} */
	.label {
		width: 100%;
		display: flex;
		flex-direction: column;
		color:rgb(63, 63, 63);
	}
	.labelSpan {
		display: inline-block;
		margin-bottom: 5px;
		text-transform: capitalize;
	}
	.cDropdown {
		width: 100%;
		background-color: #fff;
		border: 1px solid #ced4da;
		color:rgb(63, 63, 63);
	}
	.dropDown.show .cDropdown:hover{
		background-color: #fff !important;
		border: 1px solid #ced4da !important;
	}
	 
	.dropdownMenu {
		max-height: 300px;
		max-width: 500px;
		overflow: scroll;
	}