.ratingContainer {
	display: flex;
	justify-content: center;
}

.startContainer {
	display: flex;
	cursor: pointer;
	padding-right: 5px;
	padding-left: 0;
	border: none;
	background-color: transparent;
}

.startContainer svg {
	width: 33px;
	height: 33px;
	fill: #4D32FF;
}

/* .startContainer:hover svg {
	fill: #4D32FF;
} */

.startContainer.filled svg {
	fill: #FFE819;
}

.review {
	text-align: center;
	font-size: 22px;
	margin-bottom: 10px;
}