.basketBtn {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	position: relative;
}
.basketBtn svg {
	fill: #fff;
}
.aboutRoute {
	display: flex;
	align-items: center;
	margin-right: 1rem;
	color:aliceblue;
	transition: all 0.3s;
}
.aboutRoute:hover {
	color:rgb(202, 207, 212);
}
.basketIndicator {
	position: absolute;
	right: -1px;
	bottom: 0;
	background-color: red;
	color: #fff;
	border-radius: 50%;
	line-height: 1;
	/* padding: 2px 4px; */
	min-width: 20px;
	min-height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
@media (max-width: 765px) {
	.basketBtn,
	.aboutRoute {
		display: inline-flex;
		width: auto;
		height: 32px;
		margin: 15px auto 0;
	}
	.exitBtn,
	.aPanelBtn,
	.authBtn {
		width: 300px;
		margin: 15px auto 0 !important;
	}
}
@media (max-width: 375px) {
	.exitBtn,
	.aPanelBtn,
	.authBtn {
		width: 250px;
		margin: 15px auto 0 !important;
	}
}
